.Comparator {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background: $blue;
    &:after {
        position: absolute;
        top: 50%;
        right: 0px;
        left: 0px;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        content: '';
        background: $brand;
    }
    &__title {
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        height: 40px;
    }
    &__country {
        font-family: $signatureFont;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: $content;
        &:not(last-child) {
            margin-right: 24px;
        }
    }
    &__versus {
        margin-right: 23px;
        font-family: $mainFont;
        font-size: 28px;
        font-weight: bold;
        color: $brand;
        text-transform: uppercase;
    }
    &__section {
        position: relative;
        width: 25%;
        height: 100%;
    }
    &__subtitle {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        color: $content;
        opacity: .5;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__template {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        &:nth-child(2) svg {
            bottom: 8px;
        }
        &:nth-child(3) svg {
            bottom: 8px;
        }
        &:last-child svg {
            top: 8px;
        }
        svg {
            position: absolute;
        }
    }
    &__close {
        position: fixed;
        top: 40px;
        right: 40px;
        width: 24px;
        height: 24px;
        background: url('../assets/icons/cross.svg');
        transition: .3s ease;
        &:hover {
            background: url('../assets/icons/cross-active.svg');
        }
    }
}