.ComparatorInput {
    position: fixed;
    z-index: 1000;
    font-size: 20px;
    top: 10px;
    left: 10px;
    background: green;
    &:last-child {
        background: red;
        top: auto;
        bottom: 10px;
    }
}