.BrandNewTl {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: $blue;
    &__items {
        display: flex;
        width: calc(100vw - 80px);
        margin-top: -119px;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10%;
        &--active {
            .BrandNewTl__laureats {
                display: flex;
            }
        }
        &:nth-child(2) {
            width: 12%;
            .BrandNewTl__number {
                background: #283593;
                &:after {
                    background: #283593;
                }
            }
            .BrandNewTl__dates {
                background: #283593;
            }
        }
        &:nth-child(3) {
            .BrandNewTl__number {
                background: #1565c0;
                &:after {
                    background: #1565c0;
                }
            }
            .BrandNewTl__dates {
                background: #1565c0;
            }
        }
        &:nth-child(4) {
            width: 16%;
            .BrandNewTl__number {
                background: #0277bd;
                &:after {
                    background: #0277bd;
                }
            }
            .BrandNewTl__dates {
                background: #0277bd;
            }
        }
        &:nth-child(5) {
            width: 22%;
            .BrandNewTl__number {
                background: #00838f;
                &:after {
                    background: #00838f;
                }
            }
            .BrandNewTl__dates {
                background: #00838f;
            }
            .BrandNewTl__laureats {
                flex-direction: row;
                flex-wrap: wrap;
            }
            .BrandNewTl__laureat {
                width: 50%;
            }
        }
        &:nth-child(6) {
            width: 30%;
            .BrandNewTl__number {
                background: #00695c;
                &:after {
                    background: #00695c;
                }
            }
            .BrandNewTl__dates {
                background: #00695c;
            }
            .BrandNewTl__laureats {
                flex-direction: row;
                flex-wrap: wrap;
            }
            .BrandNewTl__laureat {
                width: 33%;
            }
        }
    }
    &__number {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 51px;
        height: 51px;
        margin-bottom: 57px;
        font-size: 29px;
        color: $content;
        background: #4527a0;
        border-radius: 50%;
        cursor: pointer;
        &:after {
            position: absolute;
            top: 100%;
            width: 2px;
            height: 57px;
            content: '';
            background: #4527a0;
        }
    }
    &__dates {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 22px;
        font-size: 10px;
        font-weight: 500;
        color: $content;
        background: #4527a0;
        cursor: pointer;
    }
    &__laureats {
        position: absolute;
        top: calc(100% + 16px);
        display: flex;
        flex-direction: column;
    }
    &__laureat {
        display: flex;
        align-items: center;
    }
    &__image {
        width: 32px;
        height: 32px;
        background: $blueMedium;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}