.AgeTemplate {
    svg {
        width: 131px;
        g {
            stroke-width: 36px;
            transform: translateX(100px);
            &:first-child {
                transform: translateX(-6px);
            }
            &:last-child {
                transform: translateX(37px);
            }
            text {
                fill: #fff;
                font-size: 15px;
            }
            &:nth-child(2) line {
                stroke: #21d386
            }
            &:nth-child(1) line {
                stroke: #152b65
            }
        }
    }
}