.AgeTemplate {
    svg {
        g {
            stroke-width: 20px;
            text {
                fill: #fff;
                font-size: 15px;
            }
            &:nth-child(1) line {
                stroke: #21d386
            }
            &:nth-child(2) line {
                stroke: #152b65
            }
            

        }
    }
}