.CompareParity {
    color: #fff;
    font-size: 20px;
    
    svg {
        stroke-width: 30;
        stroke-opacity: 1;
        fill: none;
        .men {
            stroke: #152b65;
        }
        
        .women { 
            stroke: #21d386;
        }
    } 
    i {
        &:first-child {
            color: #152b65;
        }
        &:last-child {
            color: #21d386;
        }
    }
}