.Timeline {
    svg {
        margin: 10px;
        .lineNPeoples {
            line {
                stroke: #888;
                stroke-width: 4;
                cursor: pointer;
                @extend %mainTransition;
                &:hover {
                    stroke: #777;
                    stroke-width: 12;
                    circle {
                        fill: red;
                    }
                }
            };
            circle {
                fill: #666;
                cursor: pointer;
                @extend %mainTransition;
            };
            circle[data-label="0"] {
                fill: hsl(0, 100%, 80%);
            }
            circle[data-label="1"] {
                fill: hsl(50, 100%, 80%);
            }
            circle[data-label="2"] {
                fill: hsl(100, 100%, 80%);
            }
            circle[data-label="3"] {
                fill: hsl(150, 100%, 80%);
            }
            circle  {
                fill: red;
                 
            }
        }
    }
}

.peoples {
    position: absolute;
    left: -10px;
}