.MapSVG {
    position: fixed;
    left: 88px;
    top: 50%;
    z-index: 2;
    width: calc(100vw - (40px * 2 + 102px + 48px));
    height: auto;
    transform: translateY(-50%);
    .land {
        fill: $blueMedium;
        opacity: .3;
    }
    .available {
        opacity: 1;
        stroke: $content;
        stroke-width: 2;
        stroke-opacity: .3;
        transition: .2s ease;
        cursor: pointer;
        &:hover {
            stroke: $brand;
            stroke-width: 4;
            stroke-opacity: 1;
        }
    }
    .circle {
        display: none;
    }
    .ocean {
        display: none;
    }
    .lake {
        fill: $blue;
        stroke: none;
    }
    .kosovo {
        stroke: none;
    }
}