// ==============================================
// GLOBAL VARIABLES
// ==============================================


/******
Fonts
******/
$mainFont: 'Futura', sans-serif;
$signatureFont: 'Lemon Milk', sans-serif;


/******
Colors
******/
$blue: #1b232d;
$blueMedium: #354456;
$blueLight: #8fb7e8;
$brand: #cea152;
$brandActive: #e9be72;
$content: #FFFFFF;





