// ==============================================
// GLOBAL VARIABLES
// ==============================================


/******
Fonts
******/
$mainFont: 'Futura', sans-serif;
$signatureFont: 'Lemon Milk', sans-serif;


/******
Colors
******/
$blue: #1b232d;
$brand: #cea152;
$brandActive: #e9be72;
$content: #FFFFFF;





