.MapLegend {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 10;
    display: flex;
    &__jauge {
        width: 26px;
        height: 166px;
        background: linear-gradient(#8fb7e8, #354456);
        border-radius: 26px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        padding: 8px 0px;
        margin-right: 16px;
    }
    &__text {
        font-family: $mainFont;
        font-size: 9px;
        line-height: 12px;
        text-align: right;
        text-transform: uppercase;
        color: $content;
    }
}