.MapFilter {
    font-size: 14px;
    color: $content;
    opacity: .7;
    text-transform: uppercase;
    transition: .1s ease;
    cursor: pointer;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    &:hover {
        color: $brand;
        opacity: 1;
    }
    &--active {
        color: $brand;
        opacity: 1;
    }
}