.Filters {
    border: 2px green solid;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    h2 {
        @include fs(20px);
        margin: 10px;
    }
    .filterBox {
        display: flex;
        flex-direction: column;
        margin: 25px;
        .filterType {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h3 {
            @include fs(14px);
            margin: 0 10px 0 0;
        }
        .filter {
            display: flex;
            flex-direction: column;
        }
    }
    input {
        border: 1px red solid;
    }
}