.UniversitiesTemplate {
    svg {
        g {
            stroke-width: 70px;
            width: 70px;
            text {
                fill: #fff;
                font-size: 15px;
                text-anchor: middle;
            }
            &:nth-child(1) line {
                stroke: #4db6ac
            }
            &:nth-child(2) line {
                stroke: #152b65
            }
            &:nth-child(3) line {
                stroke: #4fc3f7
            }
        }
    }
}