.UniversitiesTemplate {
    svg {
        g {
            text {
                fill: $content;
                font-size: 14px;
                text-anchor: middle;
                &:nth-child(2) {
                    font-weight: 500;
                }
            }
            line {
                stroke-width: 70px;
            }
            &:nth-child(1) line {
                stroke: #4db6ac
            }
            &:nth-child(2) line {
                stroke: #152b65
            }
            &:nth-child(3) line {
                stroke: #4fc3f7
            }
        }
    }
}