.Map {
    .infos {
        color: #fff;
        @include fs(20px);
        position: fixed;
        top: 25px;
        left: 25px;
        z-index: 1000;
        span {
            color: $brand;
            text-transform: uppercase;
        }
        a {
            color: brown;
        }
    }
}