.Map {
    .infos {
        color: #fff;
        @include fs(20px);
        position: fixed;
        top: 25px;
        left: 25px;
        z-index: 1000;
        span {
            color: $brand;
            text-transform: uppercase;
        }
        a {
            color: brown;
        }
    }
    .routes {
        
    }
    svg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        g {
            // stroke: red !important;
        }
        .circle {
            opacity:0;
            fill:#b9b9b9;
            fill-opacity:1;
            stroke:black;
            stroke-width:0.99986893;
            stroke-miterlimit:3.97446823;
            stroke-dasharray:none;
            stroke-opacity:1;
        }
        .land {
            fill: #354456;
            fill-opacity: 1;
            stroke: transparent;
            stroke-opacity: 1;
            stroke-width: 5;
            stroke-miterlimit: 3.97446823;
            stroke-dasharray: none;
            transition: fill 0.5s ease;
            &:hover {
                stroke: #fff;
            }
        }
        .ocean {
            opacity: 1;
            color: #000000;
            fill: $blue !important;
            fill-opacity:1;
            fill-rule:nonzero;
            stroke:#000000;
            stroke-width:0.5;
            stroke-linecap:butt;
            stroke-linejoin:miter;
            marker:none;
            marker-start:none;
            marker-mid:none;
            marker-end:none;
            stroke-miterlimit:1;
            stroke-dasharray:none;
            stroke-dashoffset:0;
            stroke-opacity:1;
            visibility:visible;
            display:inline;
            overflow:visible;
        }
        .lake {
            fill:#ffffff;
            fill-opacity:1;
            stroke:#ffffff;
            stroke-opacity:1;
            stroke-width:0.99986997;
            stroke-miterlimit:3.97446823;
            stroke-dasharray:none;
        }
    }
}

.kosovo {
    stroke: none
}